@import url('https://fonts.googleapis.com/css?family=Spicy+Rice');

body{
  background-image: url("skate.jpg");
}


.figure_animated figcaption {
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

figcaption {
  position: relative;
  text-align: center;
  font-size: 25px;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #fff;
  background-color: rgba(0,0,0,.7);
}

.figure_animated:hover figcaption {
  opacity: 1;
}

.figure_animated {
  display: inline-block;
  margin: 5px 0 10px 0;
}
.rotate_top{
  z-index: 5;
  transition: transform 0.8s;
  background-image: url('icon/icon_normal.png');
  background-size: cover;
  width: 64px;
  height: 64px;
}

.ramp
{
  z-index: 5;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 64px;
  height: 64px;
  border-bottom: solid 4px black;
  border-right: solid 4px black;
  border-radius: 0 0 50% 0;
}

.rotate_top:hover{
  transform: rotate(-90deg);
  background-image: url('icon/icon_top.png');
}

.normal_image {
  display: inline-block;
}