.right {
	float:right;
}
#tableNutrition{
	margin-left:25%;
	width: 50%
}

ul li a.quantite:link{
	color: darkgreen;
}

 p.note{
	background-color: yellow;
	font-size: x-small;
	margin-left: 60;
	margin-right: 60;
	color: darkgreen;
}


ul.quantite{
	background-color: wheat;
	font-style: italic;
}

#all{
	background-color: silver;
}

 th.color{
	background-color:yellow;
}

 #title_page{
	text-align: center;
}


.bdOrange{
	background-color: orange;
}